body{
  background: #142539;
  padding: 20px;
}
.main-container{
  width: 80%;
  height: calc(100vh - 60px);
  overflow: auto;
}

.dusko {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 55px;
  letter-spacing:2px;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.6);
  z-index: 100;
  .slika {
    width: 500px;
    height:550px;
    margin-bottom: 50px;
    background-image: url(../../assets/images/dusko.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .kapituliraj {
    font-size: 20px;
    margin-top: 45px;
    border: 1px solid #fff;
    box-shadow: 1px 1px 11px #0ba360;
    margin-right:20px;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    color: white;
    letter-spacing:2px;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    &:hover {
      background-position: 100% 0;
      moz-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
    }  }

}
.map-holder{
  position: relative;
  width: 2100px;
  padding: 15px;
  clip-path: polygon(0% 100%, 0% 0%, 73% 0%, 73% 10%, 73% 32%, 63% 32%,45% 32%, 45% 69%, 73% 69%, 97% 69%, 97% 100%, 92% 100%);
  background-color: #0c1623;

  .direktorka {
    z-index: 9999;
    position: absolute;
    width: 120px;
    height: 120px;
    background-image: url(../../assets/images/direktorka.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    .poruka {
      position: absolute;
      top: -40px;
      left: -0px;
      width: 150px;
      text-align: center;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: 1px;
      font-weight: bold;
      background: white;
    color: black;
    padding: 5px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.33);
    box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.33);
    &::after{
      content: '';
      bottom: -10px;
      left:20px;
      position: absolute;
      width: 0;
height: 0;
border-style: solid;
border-width: 10px 10px 0 10px;
border-color: white transparent transparent transparent;
    }
    }
  }
  .jobCloudOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 55px;
    letter-spacing:2px;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.6);
    z-index: 100;
    .headline-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      .jclogo {
        margin-bottom: 0;
        margin-left: 15px;
      }
    }
    .jclogo {
      width: 200px;
      height:50px;
      margin-bottom: 50px;
      background-image: url(../../assets/images/jobcloud.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    .denied {
      font-size: 20px;
      margin-top: 45px;
      border: 1px solid #fff;
      box-shadow: 1px 1px 11px #0ba360;
      margin-right:20px;
      border-radius: 10px;
      padding: 20px;
      cursor: pointer;
      color: white;
      letter-spacing:2px;
      background-size: 300% 100%;
      background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
      moz-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
      &:hover {
        background-position: 100% 0;
        moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
      }
    }
  }
}
.row{
  display:flex;
  flex-wrap: wrap;
}
.row.bottom2{
  display:flex;
  align-items: flex-end;
}
.office{
  position: relative;
  background: #E3E3E3;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  &.ziletov-office {
    &:hover {
      .zile {
        display: block;
      }
    }
    .zile {
      display: none;
      position: absolute;
      left: 0;
      top: -150px;
      width: 150px;
      height:150px;
      background-image: url(../../assets/images/zile.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      h2 {
        color: white;
        position: absolute;
        top: -75px;
        right: 10px;
        font-size: 40px;
      }
    }
  }
  &.homegate {
    &:hover {
      .homgejtovaca {
        display: block;
      }
    }
    .homgejtovaca {
      display: none;
      position: absolute;
      left: 0;
      top: 0px;
      width: 200px;
      height:200px;
      background-image: url(../../assets/images/homgejtovaca.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      z-index: 999;
      h2 {
        color: white;
        position: absolute;
        bottom: -75px;
        right: 10px;
        font-size: 40px;
      }
    }
  }
}
.terasa{
  border-radius: 5px;
  width: 190px;
  height: 450px;
  background: #4D8CBD;
  margin-top: -480px;
  position: relative;
  top: 480px;
  background-image: url(../../assets/images/malaterasa.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.office.no-bg{
  background: transparent ;
}
.office.sr-c{
  margin-left: 329px;
  margin-top: 73px;
}
.office.vertical{
  align-items: center;
  justify-content: center;
}
.office.horizontal{
  align-items: center;
  justify-content: space-around;
}
.office.vertical.big5{
  height:200px;
  width:190px;
}
.office.vertical.big4{
  height:250px;
  width:150px;
}
.office.horizontal.big3{
  height:150px;
  width:200px;
}
.office.horizontal.big2{
  height:110px;
  width:200px;
}
.office.horizontal.big2-2{
  height:110px;
  width:90px;
}
.office.horizontal.big2-2long{
  height:90px;
  width:130px;
}
.chair{
  width: 30px;
  height:30px;
  border-radius: 2px;
  background-image: url(../../assets/images/Default.svg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: 100%;
  cursor: pointer;
}
.chair:hover{
  background-image: url(../../assets/images/Hover.svg);
}
.chair.reserved{
  background-image: url(../../assets/images/Disabled.svg);
  cursor: not-allowed;
}
.chair.revert{
  transform: rotate(180deg);
}
.chair.revert-left{
  transform: rotate(90deg);
}
.chair.revert-right{
  transform: rotate(270deg);
}
.couch{
  width: 130px;
  height:30px;
  background: #ffffff;
  border-radius: 2px;
}
.chair-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height:67px;
  align-items: center;
}
.kitchen{
  position: relative;
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 127px;
  background: #4d8cbd;
  width: 71px;
  margin-top: 148px;
  margin-left: 102px;
  border-radius: 5px;
  font-size: 12px;
  background-image: url('../../assets/images/cutlery.png');
  background-size: 30%;
  background-repeat: no-repeat;
  background-position:center;
  color: #E3E3E3;
}
.kitchen.large{
  margin-left: 5px;
  background-size: 10%;
  width: 500px;
  height: 200px;
  margin-bottom: -150px;
  position: relative;
  top: -150px;

  .aleksandra {
    position: absolute;
    right: 75px;
    top: 25px;
    width: 25px;
    height: 25px;
    background-image: url('../../assets/images/aleksandra.png');
    background-size: cover;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      width: 50px;
      height: 50px;
      transition: all 0.5s;
    }
  }
}
.terasa2{
  display: flex;
  justify-content: space-around;
  height: 427px;
  align-items: center;
  background: #4d8cbd;
  width: 250px;
  border-radius: 5px;
  font-size: 12px;
  background-image: url(../../assets/images/velikaterasa.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  margin-left: 5px;
  margin-top: -202px;
}
.printer{
  display: flex;
  justify-content: space-around;
  height: 70px;
  align-items: center;
  background: #4d8cbd;
  width: 70px;
  margin-top: 48px;
  margin-left: 162px;
  border-radius: 5px;
  font-size: 12px;
  background-image: url(../../assets/images/printer.svg);
  background-size: 35%;
  background-repeat: no-repeat;
  background-position:center;
  cursor: pointer;
}
.popcorn{
  display: flex;
  justify-content: space-around;
  height: 70px;
  align-items: center;
  background: #4d8cbd;
  width: 70px;
  margin-top: 88px;
  margin-left: 32px;
  border-radius: 5px;
  font-size: 12px;
  background-image: url(../../assets/images/pop-corn.png);
  background-size: 35%;
  background-repeat: no-repeat;
  background-position:center;
}
.tabletennis{
  display: flex;
  justify-content: space-around;
  height: 170px;
  align-items: center;
  background: #4d8cbd;
  width: 270px;
  margin-top: 8px;
  margin-left: 932px;
  border-radius: 5px;
  font-size: 12px;
  background-image: url(../../assets/images/table-tennis.png);
  background-size: 25%;
  background-repeat: no-repeat;
  background-position:center;
  position: relative;
  top:67px;
}
.vuleta-scooter{
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 70px;
  align-items: center;
  background: #4d8cbd;
  width: 70px;
  margin-top: 8px;
  margin-left: 762px;
  border-radius: 5px;
  font-size: 12px;
  background-image: url(../../assets/images/scooter.png);
  background-size: 35%;
  background-repeat: no-repeat;
  background-position:center;
  color: white;
  text-align: center;
}
.vuleta-scooter:hover .dot{
  display: block;
}
.wc{
  position: relative;
  display: flex;
  color: #E3E3E3;
  //justify-content: space-around;
  height: 204px;
  padding: 20px;
  //align-items: center;
  background: #4D8CBD;
  width: 173px;
  margin-left: 5px;
  border-radius: 5px;
  font-size: 12px;
  background-image: url('../../assets/images/toilet.png');
  background-size: 30%;
  background-repeat: no-repeat;
  background-position:center;
  text-align: center;
}
.wc.lower{
  margin-left: 150px;
  height: 185px;
}
.chair-column{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 70px;

}
.chair-column.long3{
  height: 110px
}
.chair-column.long5{
  width: 170px
}
.chair-column.long2{
  height: 70px
}
.chair-row.long5{
  width: 170px;
}
.chair-row.long4{
  width: 140px;
}

.wall-left{
  border-left: solid 5px #142539;
}
.wall-top{
  border-top: solid 5px #142539;
}
.dot{
  z-index: 1;
  position: absolute;
  background: #4d8cbd;
  padding: 5px;
  font-size: 20px;
  width: 250px;
  border-radius: 10px;
  font-weight: 400;
  top: -70px;
  left: -21px;
  display: none;
  -webkit-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.33);
-moz-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.33);
box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.33);
}
.nametag{
  z-index: 1;
  position: absolute;
  background: #4d8cbd;
  padding: 5px;
  font-size: 20px;
  width: 250px;
  border-radius: 10px;
  font-weight: 400;
  bottom: -70px;
  left: -21px;
   display: none;
  -webkit-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.33);
-moz-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.33);
box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.33);
color: white;
text-align: center;
}
.wc:hover .dot{
  display: block;
}
.office:hover .nametag{
  display: block;
}
.kitchen:hover .dot{
  display: block;
}
.kitchen .dot{
  width: 200px;
  left: -70px;
}
.dot::after{
  content: '';
  width: 0;
height: 0;
border-style: solid;
border-width: 10px 10px 0 10px;
border-color: #4d8cbd transparent transparent transparent;
bottom: -10px;
left: 46%;
position: absolute;
}
.nametag::after{
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #4d8cbd transparent;
top: -10px;
left: 46%;
position: absolute;
}
.popup-content{
  .question{
    font-size: 25px;
    text-align: center;
    font-weight: 600;
  }
  .actions{
    width: 250px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    button{
      border: none;
      width: 100px;
      padding:10px 0px;
      text-transform: uppercase;
      font-weight: 600;
      border-radius: 5px;
      cursor: pointer;
      &.accept{
        background: #26dd8c;
      }
      &.decline{
        background: #9f9f9f;
      }
    }
  }
}
.parkalot {
  position: fixed;
  top: 20px;
  right: 20px;
  border: 1px solid #fff;
  box-shadow: 1px 1px 11px #0ba360;
  margin-right:20px;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  color: white;
  letter-spacing:2px;
  background-size: 300% 100%;
  background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  &.jelena {
    top: 120px;

  }
  &.jobCloud {
    top: 220px;
  }
  &:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
}